/* Contact List Styling */
.contactsContainer {
    box-sizing: content-box;
    border-right: 3px solid black;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactsHeader {
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}
.contactsTitle {
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .addContact {
    height: 30px;
} */

.contactList {
    width: 100%;
    padding: 5px;
    overflow-y: scroll;
    box-sizing: border-box;
    border: 2px solid lightgray;
    background-color: black;
    color: white;
}
.contactListItem {
    padding: 3px;
}
.contactListItem:hover {
    cursor: pointer;
}

.selected {
    background-color: white;
    color: black;
}
